<ul class="list-inline mt-2">
  <li class="list-inline-item">
    <a href="https://scottylabs.org/">Who are we?</a>
  </li>
  <li class="list-inline-item">
    <a href="<%= root %>/privacy">Privacy</a>
  </li>
</ul>