<!DOCTYPE html>
<html>
  <head>
    <title>Returning...</title>
  </head>
  <body>
    <script>
      (function () {
        if (!window.opener) {
          console.error('No opener found');
          return;
        }
        try {
          window.opener.postMessage('<%= response%>', '<%= targetOrigin%>');
        } catch (e) {
          console.error('postMessage failed', e);
          return;
        }
        window.close();
      })();
    </script>
  </body>
</html>
